<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link href= "{{ url_for('static',filename ='css/styles.css')}}" rel="stylesheet"/>

</head>
<body>
    <div class ="center">
<h1>Welcome {{ uname }}</h1>
    <a href="/showcontacts">show contacts</a> <br>
<a href="/addcontact">add contact</a><br>
<a href="/searchcontact">Search contact</a><br>
<a href="/logout">logout</a><br>

<h1>{{contact}} </h1> <br>
</div>
</body>
</html>